<link rel='stylesheet' href='/stylesheets/style.css' />
<div>
  <form method="POST" action="../crud/add">
    <label for="name">Item Name</label>
    <input type="text" id="name" name="name" placeholder="Item name">

    <label for="qty">Quantity</label>
    <input type="number" id="qty" name="qty" placeholder="Quantity" step="1">

     <label for="amount">Amount</label>
        <input type="number" id="amount" name="amount" placeholder="Amount" step="1">

    <input type="submit" value="Submit">
  </form>
</div>
