<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Click the  <a href="<%= link %>">link</a> for the CRUD Table</p>

    <p>
    RESTful API Routes
    <br>
    ../rest/getAll
    <br>
    ../rest/get/:id
    <br>
    ../rest/create
    <br>
    ../rest/update/:id
    <br>
    ../rest/delete/:id
    <br>
    <br>
    CRUD Table Routes (Browser URL)
    <br>
    ../crud/table
    <br>
    ../crud/get/:id
    <br>
    ../crud/edit/:id
    <br>
    ../crud/add
    <br>
    ../crud/delete/:id
    </p>
  </body>
</html>
